@page "/about"

<div class="columns">
    <div class="column is-two-thirds">
        <h1 class="title">Over deze website</h1>
        Deze website is gemaakt om de actuele parasha altijd bij de hand te hebben. 

        <h2 class="title is-5">De parashot</h2>
        Voor meer informatie over de parashot kun je beginnen op <a href="https://en.wikipedia.org/wiki/Parashah">Wikipedia</a>.
    </div>
    <div class="column is-one-third box"
        <h1 class="title">Contact</h1>
        Voor vragen en/of opmerkingen kan er contact worden opgenomen via <a href="mailto:info@haderech.nl">mail</a>.
    </div>
</div>