@inject HttpClient _http
@inject IBibleService _bibleService
@inject IParashaService _parashaService
@page "/"

@if (_allBooks.Any() && _torahPortions.Any())
{
    <ParashaOverviewComponent Parashot="_torahPortions"></ParashaOverviewComponent>
}
else
{
    <LoaderComponent MessagePostfix="van de parashot"></LoaderComponent>
}

@code {
    private IList<Book> _allBooks = new List<Book>();
    private IList<Parasha> _torahPortions = new List<Parasha>();

    protected override async Task OnInitializedAsync()
    {
        _allBooks = await _bibleService.GetBooks();
        _torahPortions = await _parashaService.GetTorahPortions();
    }

}