<EditForm Model="@liturgie"></EditForm>

@code {
    private Liturgie liturgie = new();

    public class Liturgie
    {
        public readonly IList<ILiturgieItem> Items;

        public Liturgie()
        {
            Items = new List<ILiturgieItem>();
        }
    }

    public interface ILiturgieItem
    {
        LiturgieItemSoort Soort { get; }
    }

    public enum LiturgieItemSoort
    {
        BijbelTekst,
        Opwekking,
        Psalm,
        Gezang,
        VrijeInvoer
    }

}