@inject IBibleService _bibleService

<label for="bible">Vertaling </label>
<select id="bible" @bind="CurrentBible">
    @foreach (var vertaling in Enum.GetValues(typeof(Bible)))
    {
        <option value="@vertaling">@vertaling</option>
    }
</select>

@code {
    private Bible _currentBible;

    private Bible CurrentBible
    {
        get => _currentBible;
        set
        {
            _currentBible = value;
            ChangeBible(value).GetAwaiter().GetResult();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _currentBible = await _bibleService.GetPreference();
    }

    private Task ChangeBible(Bible newValue)
    {
        return _bibleService.SetPreference(newValue);
    }

}