@inject IParashaCalendarService _parashaCalendarService
@inject IGenerateDownloadService _generateDownloadService

<section class="section">
    <h2 class="title has-text-centered">De parasha voor deze week</h2>
</section>
<div class="columns is-centered">
    <div class="column is-one-third">
        <ParashaComponent Parasha="ThisWeekParasha" WeekNumber="DateTime.Today.GetParashaWeek()"></ParashaComponent>
    </div>
</div>

@if (_showWholeParashot)
{
    <section class="section">
        <h2 class="title has-text-centered">De parashot van het jaar @ParashaDate.CurrentYear <button class="button" @onclick="DownloadCalendar">Voeg toe aan een digitale kalender</button></h2>
        
    </section>
    <div id="parashot">
        <div class="columns is-multiline">
            @foreach (var (parasha, index) in Parashot.Select((p, index) => (p, index)))
            {
                <div class="column is-one-third">
                    <ParashaComponent Parasha="parasha" WeekNumber="index + 1"></ParashaComponent>
                </div>
            }
        </div>
    </div>
}
else
{
    <section class="section has-text-centered">
        <button class="button" @onclick="ShowWholeParashot" type="reset">Toon de hele parashot van dit jaar</button>
    </section>
}

@code {

    [Parameter]
    public IList<Parasha> Parashot { get; set; } = Array.Empty<Parasha>();

    private Parasha ThisWeekParasha => Parashot[DateTime.Today.GetParashaWeek() - 1];

    private bool _showWholeParashot;

    private void ShowWholeParashot()
    {
        _showWholeParashot = true;
    }

    private Task DownloadCalendar()
    {
        return _generateDownloadService.GenerateDownload("text/calendar", "parashot.ics", _parashaCalendarService.Create(Parashot)).AsTask();
    }

}
