<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            @WeekNumber. @Parasha.Name
        </p>
    </header>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <p class="is-size-3">&#8986;</p>
            </div>
            <div class="media-content">
                <p>@ParashaDate.DateForWeek(WeekNumber).ToHebrewDateString() - @ParashaDate.DateForWeek(WeekNumber).AddDays(7).ToHebrewDateString()</p>
                <p>@ParashaDate.DateForWeek(WeekNumber).ToLocalDateString() - @ParashaDate.DateForWeek(WeekNumber).AddDays(7).ToLocalDateString()</p>
            </div>
            </div>
        <div class="content">
            @foreach (var portionsInBook in Parasha.Portions.GroupBy(p => p.chapter.Book))
            {
                <p class="portionDescription">
                    <span class="bookName">@portionsInBook.Key.Name</span>
                    @foreach (var portion in portionsInBook)
                    {
                        <span class="verses">
                            <a href="@portion.chapter.GetHerzieneStatenvertalingLink(portion.fromVerse)">@GetPortionDescription(portion)</a>
                        </span>
                    }
                </p>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public required Parasha Parasha { get; init; }

    [Parameter]
    public int WeekNumber { get; init; }

    private static string GetPortionDescription((Chapter chapter, short from, short? to) portion) =>
        $"{portion.chapter.ChapterNumber.ToString()}{GetVersesDescription(portion)}";

    private static string GetVersesDescription((Chapter chapter, short from, short? to) portion) =>
        portion.from == portion.to
            ? $":{portion.from.ToString()}"
            : portion.from != 1 || portion.to.HasValue
                ? $":{portion.from.ToString()}-{portion.to.GetValueOrDefault("eind")}"
                : string.Empty;

}
