@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css";

#app {
    height: 100%;
}

.bookName {
    margin-right: 0.5rem;
}

.portionDescription > .verses:not(:last-child):after {
    content: ", "
}
